.contributorsList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 1rem;
  height: auto;
  justify-items: end;
  grid-auto-rows: auto;
}

.contributor {
  cursor: pointer;
  user-select: none;
  height: auto;
  width: 100%;
  margin-bottom: 1rem;
}

.image {
  box-shadow: 0px 5px 10px -1px var(--box-shadow);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 5rem;
  width: 100%;
  border-radius: 10px;
}

.name {
  font-size: 0.9rem;
  font-weight: 500;
  text-align: center;
  display: block;
  margin: 5px 0 3px;
  color: var(--main-text-80)
}

.title {
  text-align: center;
  display: block;
  font-size: 0.7rem;
  color: var(--main-text-60)
}