.header {
  padding: 0.5rem 0 2.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2rem;
}

.h1 {
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
  user-select: none;
  color: var(--main-text-90)
}

.headerBtnWrapper {
  position: absolute;
  right: 0;
  margin: var(--margin);
  height: 2rem;
  width: 2rem;
  box-sizing: border-box;
  background: none;
  border: none;
  padding: 0;
  left: auto;
  bottom: auto;
  top: 1rem;
}

@media (min-width: 1100px) {
  .headerBtnWrapper {
    right: -15%;
    bottom: 0;
    top: auto;
  }
}

.headerBtnIcon {
  font-size: 2rem;
  color: var(--main-color);
  transition: all ease .3s;
  cursor: pointer;
}

.headerBtnIcon:hover {
  transform: scale(1.15,1.15);
}

.inputContainer {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  position: relative;
}

.input {
  box-sizing: border-box;
  height: 2.4rem;
  width: 100%;
  font-size: 1rem;
  padding: 0 5px;
  border-collapse: collapse;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  background: rgba(255,255,255,.05);
  color: var(--main-text);
  -webkit-appearance: none;
}

.inputContainer .loader {
  padding-right: 10px;
  position: absolute;
  right: 0;
}

.loader {
  display: flex;
  justify-content: space-around;
}

.loading {
  position: sticky;
  top: 50%;
  width: 100%;
}

.loadingWrapper {
  z-index: 10;
  position: absolute;
  height: 100%;
  width: 100%;
}

.label {
  font-size: 1.2rem;
  display: block;
  margin: 1rem 0;
  color: var(--main-text-80);
}

.textArea {
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
  resize: vertical;
  min-height: 150px;
  font-size: 0.8rem;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  text-align: justify;
  background: rgba(255,255,255,.05);
  color: var(--main-text);
  -webkit-appearance: none;
}

.form fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.btn {
  box-shadow: 0px 3px 10px -1px var(--box-shadow);
  box-sizing: border-box;
  width: 100%;
  padding: 0;
  height: 2.4rem;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: bold;
  background: var(--btn-body-2);
  color: var(--sub-text);
  border: 1px solid var(--border-color);
  cursor: pointer;
  transition: all .5s ease;
}

@media (min-width: 700px) {
  .btn {
    width: 50%;
    margin-left: 25%;
    margin-top: 3rem;
  }
}

.btn:nth-of-type(2) {
  background: var(--btn-body-1);
  color: var(--main-color);
}

.diabled {
  transition: all .5s ease;
  background: gray;
}

.msg {
  text-align: center;
  color: var(--main-text-60);
  user-select: none;
  grid-column-start: 1;
  grid-column-end: 3;
}

.icon {
  position: absolute;
}

.form .btn {
  margin-top: 1rem;
}

.themeSwitch {
  margin: var(--padding-themeSwitch);
  display: block;
  width: 4rem;
  height: 2rem;
  position: relative;
  border-radius: 10px;
  border: 1px solid var(--border-color);
  position: fixed;
  bottom: 1rem;
  right: 0;
}

.themeSwitch input {
  border: none
}

.themeSwitch input:checked {
  background: none;
}

.themeSwitch input::selection {
  background: none;
}

@media (min-width: 1100px) {
  .themeSwitch {
    right: -5%;
    bottom: -1%;
  }
}

@media (min-width: 1500px) {
  .themeSwitch {
    right: -8%;
    bottom: -6%;
  }
}

.themeSwitch > input {
  appearance: none;
  width: 100%;
  height: 100%;
  z-index: 3;
  outline: none;
  position: absolute;
}

.themeSwitch > input:checked {
  right: 0;
}

.icon {
  color: rgba(169,169,169,0.2);
  position: absolute;
  font-size: 1.5rem;
  margin: 0.25rem;
}

.icon:nth-child(2) {
  transition: all 0.5s ease;
  right: 0;
}

.icon.checked {
  transition: all 0.5s ease;
  color: var(--main-color);
}

html, p, h1, h2, h3 {
  transition: all 0.5s ease;
}

.dot {
  width: 0.7rem;
  height: 0.7rem;
  background: var(--main-color);
  position: absolute;
  top: 10px;
  right: 8%;
  border-radius: 100%;
  transition: all ease 1s;
}

@media (min-width: 650px) {
  .dot {
    right: 20%;
  }
}

@media (min-width: 1100px) {
  .dot {
    right: auto;
    left: 120px;
  }
}

.error {
  width: 100%;
  height: auto;
  background: var(--alt-color);
  opacity: .7;
  box-sizing: border-box;
  transition: all .8s ease;
  border-radius: 10px;
}

.error span {
  color: white;
  display: block;
  text-align: center;
  padding: 1rem;
}

.reqStatus {
  text-align: center;
  font-size: .8rem;
}