.navBar {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: auto;
  grid-auto-rows: auto;
  height: 3.5rem;
}

.navBar > a {
  font-size: .9rem;
  color: var(--sub-text2);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  position: relative;
}

.navBar > a:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  height: 3px;
  width: 0;
  background: var(--main-color);
  transition: width .5s ease, background-color .5s ease, left .5s ease;
}

.navBar > a:hover:after {
  width: 100%;
  left: 0;
  background: var(--main-color);
}

@media (min-width: 500px) {
  .navBar > a:nth-child(1) {
    padding-left: 10%;
  }
  .navBar > a:nth-child(4) {
    padding-right: 10%;
  }
}

@media (min-width: 1100px) {
  .navBar {
    position: absolute;
    height: 1e3px;
    top: 3%;
    width: 200px;
    grid-template-rows: repeat(4, 7%);
    grid-template-columns: 1fr;
  }
  .navBar > a:nth-child(1) {
    padding-left: 20%;
  }
  .navBar > a {
    font-size: 1.1rem;
    grid-column-start: auto;
    justify-content: flex-start;
    padding: 20%;
    transition: all .5s ease;
  }
  .navBar > a:hover:after {
    width: 0;
  }
  .navBar > a:hover{
    transform: translateX(10px);
    transition: all .5s ease;
  }
}