.ProjectForm legend {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.ProjectForm fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.ProjectForm label {
  font-weight: bold;
}

.ProjectForm div {
  display: flex;
  flex-direction: column;
}

.ProjectForm input {
  padding: 0 5px;
  box-sizing: border-box;
  width: 100%;
  margin: 0.5rem 0;
  height: 2.4rem;
  font-size: 0.8rem;
  border: 1px solid rgba(169,169,169,0.3);
  border-radius: 10px;
}

.ProjectForm button {
  width: 100%;
  padding: 0;
  height: 30px;
  border: 1px solid rgba(169,169,169,0.3);
  border-radius: 10px;
  font-size: 1rem;
  font-weight: bold;
  background: var(--main-color);
  color: white;
  margin-bottom: 0.6rem;
}

.ProjectForm .delete-btn {
  background: white;
  color: gray
}

.ProjectForm textarea {
  padding: 5px;
  margin: 0.5rem 0;
  resize: vertical;
  min-height: 150px;
  font-size: 0.8rem;
  border: 1px solid rgba(169,169,169,0.3);
  border-radius: 10px;
}