.ProjectService legend {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.ProjectService fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.ProjectService label {
  font-weight: bold;
}

.ProjectService fieldset > div {
  display: flex;
  flex-direction: column;
}

.ProjectService fieldset input {
  padding: 0 5px;
  box-sizing: border-box;
  width: 100%;
  margin: 0.5rem 0;
  height: 1.5rem;
  font-size: 0.8rem;
  border: 1px solid rgba(169,169,169,0.3);
  border-radius: 10px;
}

.ProjectService fieldset > input[type="submit"], 
input[name="delete"] {
  width: 100%;
  padding: 0;
  height: 30px;
  border: 1px solid rgba(169,169,169,0.3);
  border-radius: 10px;
  font-size: 1rem;
  font-weight: bold;
}

input[name="delete"] {
  background: var(--main-color);
  color: white;
}

.ProjectService fieldset textarea {
  padding: 5px;
  margin: 0.5rem 0;
  resize: vertical;
  min-height: 150px;
  font-size: 0.8rem;
  border: 1px solid rgba(169,169,169,0.3);
  border-radius: 10px;
}