body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
  user-select: none;
}

.active {
  color: var(--main-color) !important;
}

html {
  background: var(--bg-color);
}

h3 {
  color: var(--main-text-80);
}

p {
  color: var(--main-text-90);
  font-family: Roboto, sans-serif;
}

.hidden {
  visibility: hidden;
}

.devMsg {
  color: var(--sub-text2);
  font-size: .7rem;
  text-align: center;
  margin-top: 0;
}

:root{
--bg-color: white;
--main-color: #ff2e63;
--main-text: black;
--main-text-30: rgba(0,0,0,0.3);
--main-text-60: rgba(0,0,0,0.6);
--main-text-80: rgba(0,0,0,0.8);
--sub-text: white;
--sub-text2: rgba(169,169,169,1);
--btn-body-1: white;
--btn-body-2: #ff2e63;
--border-color: rgba(169,169,169,0.3);
--box-shadow: rgba(169,169,169,0.3);
--color1: blue;
--color2: green;
--color3: red;
--padding-side: 0 5% 2%;
--margin: 0 5%;
--padding-themeSwitch: 0 5% 2% 0;
}

.Accepted {
  color: var(--color2)
}

.Pending {
  color: var(--sub-text2)
}

.Declined {
  color: var(--color1)
}

main {
  background: var(--bg-color);
  height: 100%;
  transition: all .5s ease;
}

section {
  margin-top: 1.5rem;
  padding: var(--padding-side);
  box-sizing: border-box;
}
/* a:focus,
input:focus,
button:focus,
select:focus,
textarea:focus {
  outline-color: var(--main-color);
  border-radius: 3px;
  outline: 0;
  box-shadow: 0 0 0 3px green;
} */

@media (min-width: 500px) {
  :root{
    margin-top: 1%;
    --padding-side: 0 10% 5%;
    --padding-themeSwitch: 0 10% 5% 0;
  }
}

@media (min-width: 1100px) {
  :root{
    --padding-side: 0 25% 5%;
  }
}

@media (min-width: 1500px) {
  :root {
    --padding-side: 0 32% 5%;
  }
}

@media (min-width: 700px) {
  .infinite-scroll-component {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    grid-gap: 1rem;
    overflow: inherit!important
  }
}
